/* Global */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-grp {
  gap: 20px;
}

/* Main Body */
#full-ctnr {
  position: fixed;
  flex-direction: column;
  inset: 0;
  gap: 50px;
}

/* Search Group */
#search-grp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 1.4rem;
}

#loc-search {
  width: 15vw;
}

#loc-here, #loc-submit {
  font-size: 1rem;
  padding: 5px 15px;
}

/* Location Group */
#loc-group {
  flex-direction: column;
  gap: 20px;
}

#loc-header {
  font-size: 1.4rem;
}

#loc-name {
  font-size: 1.3rem;
}

/* Weather Group */
#weather-ctnr {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 20px;
  gap: 10px;
  border: 2px solid black;
  border-radius: 20px;
  width: 300px;
  height: 400px;
}

#temp-curr {
  font-size: 4rem;
}

#weather-cond {
  font-size: 2rem;
}

#weather-desc {
  font-size: 1.5rem;
}

#tempF {
  border-right: 1px solid black;
}

#fahr, #cel {
  font-size: 1.4rem;
  padding: 0 12px;
  background: none;
  border: none;
  cursor: pointer;
}