/* Global */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(180, 180, 180);
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
}

.btn-grp {
  gap: 20px;
}

/* Main Body */
#full-ctnr {
  position: fixed;
  flex-direction: column;
  inset: 0;
  gap: 50px;
}

/* Search Group */
#search-ctnr,
#search-grp {
  flex-direction: column;
  gap: 15px;
}

#search-grp {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}

#loc-search {
  width: 250px;
  padding: 0.5rem 0.7rem;
  text-indent: 0.7rem;
  border-radius: 20px;
  border: none;
  line-height: 1.1rem;
}

#loc-here, #loc-submit {
  font-size: 0.9rem;
  padding: 5px 15px;
  background-color: rgb(220, 220, 220);
  border-radius: 20px;
  border: none;
}

/* Location Group */
#loc-group {
  flex-direction: column;
  gap: 20px;
}

#loc-header {
  font-size: 1.4rem;
  height: 1.4rem;
}

#loc-name {
  text-align: center;
  font-size: 1.3rem;
  height: calc(1.3rem + 2rem);
  line-height: 2rem;
}

/* Weather Group */
#weather-ctnr {
  flex-direction: column;
  gap: 10px;
}

#weather-grp {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 20px;
  gap: 10px;
  border: 2px solid black;
  border-radius: 20px;
  width: 275px;
  aspect-ratio: 1;
  background-color: white;
}

#weather-grp-top {
  width: 100%;
  justify-content: space-between;
}

#cond-icon {
  height: 70px;
  aspect-ratio: 1;
}

#temp-curr {
  font-size: 4rem;
  height: 4rem;
}

#high-low,
#weather-cond,
#weather-desc {
  height: 1.5rem;
}

#high-low {
  gap: 10px;
}

#temp-low,
#temp-high {
  font-size: 1.5rem;
}

#temp-high {
  color: rgba(255, 0, 0, 0.7);
}

#temp-low {
  color: rgba(0, 0, 255, 0.7);
}

#weather-cond{
  font-size: 1.4rem;
}

#weather-desc {
  font-size: 1.2rem;
}

#tempF {
  border-right: 1px solid black;
  padding-right: 10px;
}

#tempC {
  padding-left: 10px;
}

#fahr, #cel {
  font-size: 1.4rem;
  background: none;
  border: none;
}

#fetch-time {
  font-size: 1rem;
  height: 1rem;
}